* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cinzel', serif;
    background-color:antiquewhite;
}
/* Global */

div.container{
    width: 350px;
    height: 55px;
    margin: 30px auto -20px auto;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 10px 10px 10px 50px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
}



ul{
    margin: 10px auto -25px 80px;
    margin-left: auto;
    margin-right: auto;
}

p {
    width: 75%;
    margin: 15px auto 0px 20px;
    font-size: 15px;
    padding: 15px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    padding: -15px;
}

h2{
    margin: 20px auto -25px 80px;
    font-size: 23px;
}

h3{
    margin: 13px auto 0px 15px;
    font-size: 15px;
}

img {
    height: 500px;
    margin: 20px auto 20px auto;
}


.button_1{
    height: 38px;
    background: black;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.button_1:hover{
    color: whitesmoke;
    font-weight: bold;
    transform: scale(1.1);
}

.dark{
    position: fixed;
    margin: auto;
    width: 300px;
    font-size: 13px;
    height: 40px;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 50px 50px 10px 10px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
}

ol {
    margin: 40px 55px;
    text-decoration: none
}

/* Slideshow */
.gallery {
    margin: 20px auto 10px auto;
}

.gallery img {
    width: 375px;
    padding: 15px;
    filter: grayscale(100%);
    transition: 1s;
    margin: 30px auto -20px auto;
}

.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

div #gallery {
    width: 350px;
    height: 55px;
    margin: 30px auto -20px auto;
    font-size: 13px;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 10px 10px 10px 50px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
}

/* Slider */
#vpCarousel {
    max-width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.vpvideo{
    margin: 50px 250px;
}
/* Header */
header{
    max-width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 10px 50px 10px 10px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
}

header a{
    max-width: 1100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 1em;
}

header li{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    padding: 1em;
}

header #branding{
    float:left;
    padding: 15px;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: -25px;
}

header .highlight, header .current a{
    color: whitesmoke;
    font-weight: bold;
    font-style: italic;
}

header a:hover{
    color: black;
    font-weight: bold;
    font-size: medium;
}
/* Content */

/* #content {
    min-height: 400px;
    background: url('./Vp/VPwatermark.png') no-repeat 0;
    text-align: center;
    color: black;
} */

/* #content h1{
    margin-top: 425px;
    font-size: 30px;
    margin-bottom: 10px;
} */

#content p{
    font-size: 20px;
}


/* newsletter */
#newsletter{
    width: 740px;
    height: 130px;
    margin: 20px auto 10px auto;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 10px 10px 10px 50px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
}

#newsletter h1{
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#newsletter .highlight {
    color: whitesmoke;
    font-weight: bold;
}

/* services */
#services{
    margin-top: 20px;
}

#services .links{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#services .links img{
    width: 100px;
}

ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

ul#services li img{
    width: 500px;
}

/* Sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 80%;
    margin: auto auto auto 30px;
}

aside .highlight {
    color: whitesmoke;
    font-weight: bold;
    width: 65%;
    margin: 15px 90px;
}

button.button_1{
    width: 150px;
    font-size: 13px;
    height: 40px;
    margin: auto auto auto 80px;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 10px 10px 50px 50px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
}

/* Main-col */
article#main-col{
    width: 400px;
    font-size: 12px;
    height: 40px;
    margin: 35px auto 20px auto;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 10px 10px 10px 50px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
}

article#main-photo{
    width: 400px;
    font-size: 12px;
    height: 40px;
    margin: 35px auto 20px auto;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 10px 10px 10px 50px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
}
article#main-video{
    width: 400px;
    font-size: 12px;
    height: 40px;
    margin: 400px auto 20px auto;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 10px 50px 10px 10px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
    
}article#main-graphic{
    width: 400px;
    font-size: 12px;
    height: 40px;
    margin: 340px auto 20px auto;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 10px 10px 10px 50px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
    
}

/* article#main-graphic:hover{
    font-weight: bold;
    transform: scale(1.1);

}

article#main-video:hover{
    font-weight: bold;
    transform: scale(1.1);

}

article#main-photo:hover{
    font-weight: bold;
    transform: scale(1.1);

} */

a {
    font-size: 12px;
    margin: 20px auto 0px auto;
}

footer {
    width: 100%;
    max-width: 800px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: red;
    background: linear-gradient(whitesmoke red);
    background: -webkit-linear-gradient(whitesmoke, red);
    background: -o-linear-gradient(whitesmoke, red);
    background: -moz-linear-gradient(whitesmoke, red);
    border-radius: 10px 10px 10px 50px;
    border-bottom: whitesmoke 3px solid;
    box-shadow: 5px 5px 10px black;
}

div.footer h3{
    width: 55%;
    margin: 500px auto;
    font-size: smaller;
    padding: 15px
}
h1.page-title{
    width: 80%;
    margin: 45px auto 20px auto;
    
}

/* Media Queries */
@media(min-width: 800px){
    body,
    .header,
    .footer,
    .container,
    .login,
    input,{
        float: none;
        text-align: center;
        width: 100%;
    }
    .header nav{
        float: none;
    }}